body {
   background-color: #E76F51;
   font-family:Verdana, Geneva, Tahoma, sans-serif   
}
.heading {
    text-align: center;
    font-size: 1.7em;
}
.pizza{
    border: 1px solid #2A9D8F;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;

}

.small_pizza {
    background-color: #264653;
    flex: 0.5
}
.medium_pizza {
    background-color: #E9C46A;
flex : 0.5
}

.large_pizza {
    background-color: #2A9D8F;
    flex: 0.5
}

.contact_us {
    background-color: #F4A261;
    text-align: center;
}

@media (min-width:760px) {

    body {
        background-color:darkgray;
    }
}


@media (min-width:960px) {

      body {
          background-color:darkkhaki;
      }

      .pizzas {
        display: flex;
}
}